* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.fonts {
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
p::-moz-selection {
  background: #fdabb7;
  color: white;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection {
  background: #fdabb7;
  color: white;
}

.menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu {
  width: 300px;
  height: 150vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdabb7), to(#333c4a));
  background: linear-gradient(to bottom, #fdabb7, #333c4a);
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-shadow: 0 0 50px #222222;
          box-shadow: 0 0 50px #222222;
  position: fixed;
  padding: 3em 3em;
  z-index: 3;
  height: 100vh;
  overflow: auto;
}

.menu .up {
  font-family: 'Roboto Condensed', sans-serif;
}

.menu .up .logoMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin-top: 1.5em;
}

.menu .up .logoMenu i {
  color: #343D4B;
}

.menu .up .logoMenu h2 {
  color: #343D4B;
  text-indent: 10px;
}

.menu .up .logoMenu h2 span {
  color: white;
}

.menu .up > ul {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu .up > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .up > ul li i {
  color: #343D4B;
}

.menu .up > ul li div p {
  text-indent: 10px;
  color: white;
}

.menu .up > ul li:last-child div p:last-of-type {
  margin-top: 4px;
}

.menu .up > ul li:last-child div p:first-of-type {
  margin-bottom: 4px;
}

.menu hr {
  height: 1px;
  background-color: white;
  border: none;
}

.menu .down {
  height: 300px;
  margin-top: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.menu .down nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}

.menu .down nav > ul > li {
  width: 150px;
  text-align: center;
}

.menu .down nav > ul > li > a {
  color: white;
  display: inline-block;
}

.menu .down nav > ul > li:hover {
  background-color: rgba(253, 171, 183, 0.7);
}

.menu .down nav > ul > li:first-child {
  background-color: rgba(253, 171, 183, 0.7);
}

.menu .down nav > ul > li::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 0.3;
}

.menu .down nav > ul > li:last-child:after {
  display: none;
}

.menu .down nav > ul > li:first-child a {
  padding-inline: 55px;
  padding-block: 21px;
}

.menu .down nav > ul > li:nth-child(2) a {
  padding-inline: 43px;
  padding-block: 21px;
}

.menu .down nav > ul > li:nth-child(3) a {
  padding-inline: 42px;
  padding-block: 21px;
}

.menu .down nav > ul > li:nth-child(4) a {
  padding-inline: 37px;
  padding-block: 21px;
}

.menu .down nav > ul > li:last-child a {
  padding-inline: 26px;
  padding-block: 21px;
}

.menu .social {
  margin-top: 30px !important;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin: auto;
}

.menu .social i {
  color: white;
}

.menu .social i:hover {
  color: #fdabb7;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.openMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.con {
  background-color: #fdabb7;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.con header {
  position: relative;
  width: 100%;
  top: 0;
  padding-left: 2em;
  padding-right: 2em;
}

.con header > .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con header > .up .hum {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 3;
  margin-right: 1.5em;
}

.con header > .up div.inside {
  background-color: white;
  width: 2em;
  height: 0.3em;
  border-radius: 1em;
  margin: 0 auto;
  -webkit-transition: all 0.1s 0.3s;
  transition: all 0.1s 0.3s;
}

.con header > .up div.inside::after, .con header > .up div.inside::before {
  content: '';
  display: block;
  background-color: white;
  width: 2em;
  height: 0.3em;
  border-radius: 1em;
  position: absolute;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.con header > .up div.inside::before {
  margin-top: -0.5em;
}

.con header > .up div.inside::after {
  margin-top: 0.5em;
}

.con header > .up div.burger {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
          transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
}

.con header > .up div.burger.toggled {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.con header > .up div.burger.toggled > div::before {
  -webkit-transform: translate(-1.5em) rotate(45deg) translate(1.3em, -0.6em);
          transform: translate(-1.5em) rotate(45deg) translate(1.3em, -0.6em);
}

.con header > .up div.burger.toggled > div {
  background: transparent;
}

.con header > .up div.burger.toggled > div::after {
  -webkit-transform: translate(-1.5em) rotate(-45deg) translate(1.3em, 0.6em);
          transform: translate(-1.5em) rotate(-45deg) translate(1.3em, 0.6em);
}

.con header > .up .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
}

.con header > .up .left i {
  color: #343D4B;
}

.con header > .up .left h2 {
  color: #343D4B;
  text-indent: 10px;
  margin-block: 0;
}

.con header > .up .left h2 span {
  color: white;
}

.con header > .up .right {
  font-family: 'Roboto Condensed', sans-serif;
  display: none;
}

.con header > .up .right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.con header > .up .right > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5em;
}

.con header > .up .right > ul li i {
  color: #343D4B;
}

.con header > .up .right > ul li div p {
  text-indent: 10px;
  color: white;
}

.con header > .up .right > ul li:last-child > div p:first-child {
  margin-top: 0;
}

.con header > .up .right > ul li:last-child > div p:last-child {
  margin-bottom: 0;
}

.con header > .up .right > ul li:last-child div p:last-of-type {
  margin-top: 4px;
}

.con header > .up .right > ul li:last-child div p:first-of-type {
  margin-bottom: 4px;
}

.con header hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  display: none;
}

.con header .down {
  display: none;
}

.con .heroCon .hero {
  margin-top: 40px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  height: 420px;
}

.con .heroCon .hero h3 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  color: #343D4B;
}

.con .heroCon .hero h2 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  color: white;
  line-height: 100px;
}

.con .heroCon .hero p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin-bottom: 50px;
}

.con .heroCon .hero a {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1em;
  border-radius: 4px;
  color: #343D4B;
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 1px #222222;
          box-shadow: 1px 1px 10px 1px #222222;
}

.con .heroCon .hero a:hover {
  background-color: #fdabb7;
  color: white;
}

.con .heroCon .hero .heroBut {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.con .heroCon .hero .heroBut:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.con .heroCon .image {
  position: relative;
  top: 4px;
  right: 0px;
  text-align: center;
}

.con .heroCon .image img {
  width: 230px;
}

.dentistTop {
  margin-bottom: -10px;
}

.dentistTop img {
  width: 100%;
  background-color: #fdabb7;
}

.dentistBottom {
  margin-top: -10px;
}

.dentistBottom img {
  width: 100%;
  background-color: #fdabb7;
}

.dentist {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdabb7;
  background-image: url("../images/dentist-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  padding-left: 2em;
  padding-right: 2em;
}

.dentist .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Playfair Display', serif;
}

.dentist .up hr {
  background-color: white;
  width: 100%;
  border: none;
  height: 1px;
  width: 40%;
  margin-left: 0px;
}

.dentist .up h2:first-of-type {
  color: #343D4B;
  margin-bottom: 0;
  font-size: 20px !important;
}

.dentist .up h2:nth-of-type(2) {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px !important;
}

.dentist .up h2:last-of-type {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.dentist .up h3 {
  color: white;
}

.dentist .up blockquote {
  color: white;
}

.dentist .up blockquote::before {
  content: '\201c';
  display: inline-block;
  margin-right: 0.16em;
  margin-left: -0.65em;
  color: white;
  font-size: 2em;
  -webkit-transform: translateY(0.25em);
          transform: translateY(0.25em);
  line-height: 0;
}

.dentist .up blockquote::after {
  content: '\201d';
  display: inline-block;
  margin-left: 0.16em;
  margin-right: -0.65em;
  color: white;
  font-size: 2em;
  -webkit-transform: translateY(0.25em);
          transform: translateY(0.25em);
  line-height: 0;
}

.dentist .down img {
  width: 100%;
}

.services {
  padding-left: 2em;
  padding-right: 2em;
}

.services .up {
  margin: auto;
  text-align: center;
}

.services .up h3 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin-bottom: 0;
  color: #343D4B;
  font-weight: 400;
}

.services .up h2 {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  margin: 0 auto;
  color: #fdabb7;
  line-height: 50px;
}

.services .up p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin-top: 30px;
}

.services .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .down div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.services .down div img {
  height: 88px;
}

.services .down div h2 {
  margin: 0 auto;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.services .down div p {
  text-align: center;
  color: #343D4B;
  font-family: 'Roboto', sans-serif;
}

.book {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 3em;
}

.book > .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.book > .title p {
  text-align: center;
  color: #fdabb7;
  font-size: 30px;
}

.book > .title hr {
  background-color: #343D4B;
  border: none;
  height: 1px;
  margin-bottom: 2.5em;
}

.book .bookCon {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book .bookCon .left img {
  max-width: 100%;
}

.book .bookCon .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book .bookCon .middle form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.book .bookCon .middle form input {
  border: none;
  -webkit-box-shadow: 1px 1px 3px 1px #222222;
          box-shadow: 1px 1px 3px 1px #222222;
  margin-top: 1em;
  padding: 1em;
  border-radius: 4px;
}

.book .bookCon .middle form input[type="submit"] {
  background-color: #fdabb7;
  font-weight: bold;
}

.book .bookCon .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #343D4B;
}

.book .bookCon .right h2 {
  margin-bottom: 0;
}

.book .bookCon .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.book .bookCon .right hr {
  background-color: #343D4B;
  border: none;
  height: 1px;
  width: 100%;
}

.testimonials {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

.testimonials .swiper {
  height: 400px;
}

.testimonials > h2 {
  text-align: center;
  color: #fdabb7;
}

.testimonials > h3 {
  text-align: center;
  color: #343D4B;
}

.testimonials .testimonialsCon {
  font-family: 'Roboto', sans-serif;
}

.testimonials .testimonialsCon div.t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 3em;
  border: 1px solid #343D4B;
  color: #343D4B;
}

.testimonials .testimonialsCon div.t h4 {
  margin-block: 0;
}

.testimonials .testimonialsCon div.t > div {
  justify-self: self-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonialsCon div.t > div img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.testimonials .testimonialsCon div.t > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.testimonials .testimonialsCon div.t > div > div > h6 {
  font-size: 1rem;
  margin-block: 0;
}

.testimonials .testimonialsCon div.t > div > div > p {
  margin-block: 0;
}

.testimonials .swiper-button-prev,
.testimonials .swiper-button-next,
.testimonials .swiper-pagination span {
  color: #fdabb7;
}

:root {
  --swiper-pagination-color: #fdabb7;
}

.aboutDentistTop {
  margin-bottom: -10px;
  margin-top: 3em;
}

.aboutDentistTop img {
  width: 100%;
  background-color: #fdabb7;
}

.aboutDentistBottom {
  margin-top: -10px;
}

.aboutDentistBottom img {
  width: 100%;
  background-color: #fdabb7;
}

.aboutDentist {
  padding: 2em;
  padding-bottom: 3em;
  background-color: #fdabb7;
  font-family: 'Roboto', sans-serif;
}

.aboutDentist .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.aboutDentist .title > h2 {
  text-align: center;
  color: #343D4B;
  margin-bottom: 1em;
}

.aboutDentist .title hr {
  margin-bottom: 2em;
}

.aboutDentist hr {
  background-color: #343D4B;
  border: none;
  height: 1px;
  width: 100%;
}

.aboutDentist > div.card {
  max-width: 850px;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  color: #343D4B;
}

.aboutDentist > div.card .imageCon {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.aboutDentist > div.card .imageCon img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.aboutDentist > div.card .imageCon img:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}

.aboutDentist > div.card h3 {
  margin-bottom: 0;
  font-size: 22px;
}

.aboutDentist > div.card h4 {
  margin-top: 10px;
  font-weight: 400;
}

.aboutDentist > div.card div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutDentist > div.card div ul a {
  color: inherit;
}

.aboutDentist > div.card div ul a i {
  margin-left: 20px;
}

.aboutDentist > div.card div ul a i:hover {
  color: #fdabb7;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.aboutDentist > div.card P {
  text-align: center;
}

footer {
  background-color: #fdabb7;
  padding-left: 3em;
  padding-right: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .left {
  margin: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin-top: 1.5em;
}

footer .left .logo i {
  color: #343D4B;
}

footer .left .logo h2 {
  color: #343D4B;
  text-indent: 10px;
}

footer .left .logo h2 span {
  color: white;
}

footer .left p {
  color: white;
  text-align: center;
}

footer .medium {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

footer .medium iframe {
  border-radius: 20px;
}

footer .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.5em;
}

footer .right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .right ul li i {
  color: #343D4B;
}

footer .right ul li div p {
  text-indent: 10px;
  color: white;
}

footer .right ul li:last-child > div p:first-child {
  margin-top: 0;
}

footer .right ul li:last-child > div p:last-child {
  margin-bottom: 0;
}

footer .right ul li:last-child div p:last-of-type {
  margin-top: 4px;
}

footer .right ul li:last-child div p:first-of-type {
  margin-bottom: 4px;
}

.footerTop {
  margin-top: 3em;
  margin-bottom: -10px;
}

.footerTop img {
  background-color: #fdabb7;
  width: 100%;
}

.made {
  font-size: 12px;
  background-color: #fdabb7;
  padding-block: 20px;
}

.made hr {
  margin-top: 0;
  margin-bottom: 20px;
  height: 1px;
  background-color: #343D4B;
  color: #343D4B;
}

.made p {
  text-align: center;
  color: white;
}

.made p a {
  text-decoration: underline;
  cursor: pointer;
  color: #343D4B;
}

.showA {
  visibility: visible !important;
}

.arrow {
  padding: 1em;
  border-radius: 50%;
  background-color: #fdabb7;
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  z-index: 3;
  cursor: pointer;
  visibility: hidden;
  -webkit-box-shadow: 0 5px 15px 0 black;
          box-shadow: 0 5px 15px 0 black;
}

.arrow i {
  color: black;
}

.arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.arrow-show {
  visibility: visible;
}

.arrow-hide {
  visibility: hidden;
}

.stopScroll {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */